.git
.github
gha-creds-*.json
.husky
.turbo
.pnpm-store
node_modules
**/node_modules
**/dist
**/build
**/coverage
**/.expo
**/.cache
**/.env
**/.env.*
!**/.env.example
*.log
.DS_Store
playwright-report
test-results
maestro-debug-output
maestro-test-output
